.fifthSection{
  display: flex;
  height: 855px;
  background-color: $whiteGrey;

  &__leftColumn{
    flex-grow: 1;
    height: 855px;
    border-right: 2px solid $darkBlue;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title{
    
    padding-top: 110px;
    font-size: 107px;
    color: $darkBlue;
  }

  &__para{
    font-size: 26px;
    color: $darkBlue;
    border-bottom: 2px solid $darkBlue;
    padding-top: 30px;

    p{
      font-size:16px;
      width: 510px;
    }

    &:last-child{
      padding-bottom: 70px;
    }

    &:not(:last-child){
      padding-bottom: 30px;
    }
  }

  &__text{
    margin-left: 130px;
  }

  &__bgsketch1{
    position: absolute;
    right: 520px;
    top: 4300px;
    background-image: url(../../images/Sketch-6.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 214px;
    height: 60px;
  }

  &__rightColumn{
    width: 600px;
    height: 855px;
    background-image: url(../../images/processImage.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: 2px solid $darkBlue;
  }

}