.first-screen {
  background-color: $whiteGrey;
  position: relative;

  &__title {
    position: relative;
    z-index: 2;
    h1{
      text-align: center;
      color: $darkBlue;
      font-size: 46px;
      @media (min-width: 768px){
        font-size: 75px;
      }
  
      @media (min-width: 1000px){
        font-size: 107px;
      }

      font-family:'Old Standard TT', serif;
      font-weight: 550;
      margin: 0px;
    }
    sup{
      padding: 15px;
      font-size: 2.3vw;
      font-weight: lighter;
    }
  }


  &__bgsketch1 {
    position: absolute;
    left: 0px;
    top: 50px;
    background-image: url(../../images/Sketch-10.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 141px;
    height: 60px;

    display:none;

    @media (min-width: 768px){
      display: block;
    }
  }

  &__bgsketch2 {
    position: absolute;
    right: 0px;
    bottom: 50px;
    background-image: url(../../images/Sketch-3.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 262px;
    height: 91px;
    display:none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &__aboutBox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-left: -15px;
    margin-right: -15px;
    
    @media (min-width: 768px) {
      align-items: center;
      justify-content: space-between;
    }
  }

  &__paragraph {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    color: $darkBlue;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 768px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (min-width: 992px) {
      flex: 0 0 300px;
      max-width: 300px;
    }

    p {
      text-align: justify;
      font-weight: 300;
    }
  }

  &__centerImg {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    z-index: 1;
    height: 420px;
    background-image: url(../../images/firstScreenPhoto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-top: -45px;
    box-shadow: 0 3000px rgba(16, 87, 139, 0.178) inset;

    @media (max-width: 991px) {
      order: -1;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: 768px) {
      flex: 0 0 60%;
      max-width: 60%;
    }

    @media (min-width: 992px) {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
  }

  &__contact {
    display: inline-block;

    color: $whiteGrey;
    background-color: $darkBlue;
    border: 2px solid $darkBlue;
    text-decoration: none;
    font-weight: lighter;
    text-align: center;
    line-height: 26px;
    border-radius: 15px;
    width: 125px; 
    height: 30px;
    font-size: 15px;
  }

  &__contact.active {
    color: $darkBlue;
    background-color: $whiteGrey;
    transition: 0.3s;
    cursor: pointer;
  }

  &__learn {
    display: inline-block;
    color: $darkBlue;
    border: 2px solid $darkBlue;
    background-color: $whiteGrey;
    text-decoration: none;
    font-weight: lighter;
    text-align: center;
    line-height: 29px;
    border-radius: 15px;
    width: 125px; 
    height: 30px;
    font-size: 15px;
  }

  &__learn.active {
    color: $whiteGrey;
    background-color: $darkBlue;
    transition: 0.3s;
    cursor: pointer;
  }

  &__bottomBorder {
    width: 100%;
    border: 1px solid $darkBlue;
  }

  &__bottomBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $darkBlue;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
  }

  &__arrowButton {
    border: none;
    border-color: $darkBlue;
    background-color: transparent;
    cursor: pointer;
    width: 33px;
    height: 33px;
    transition: 0.3s;

    img {
      width: 11px;
      height: 19px;
    }
  }

  &__arrowButton.active {
      border: 1px solid $darkBlue;
      border-radius: 50%;
      transition: 0.3s;
  } 
}