.fourth-section {
  position: relative;
  background-color: $darkBlue;
  
  &__topbox {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-family: 'DM Sans', sans-serif;
    color: $whiteGrey;
    padding-top: 110px;
    padding-bottom: 110px;
  }

  &__bgsketch1 {
    position: absolute;
    top: 100px;
    left: 0px;
    background-image: url(../../images/Sketch-7.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 446px;
    height: 116px;
    
    display: none;
    
    @media (min-width: 768px) {
      display: block;
    }
  }

  &__bgsketch2 {
    position: absolute;
    bottom: 100px;
    right: 0px;
    background-image: url(../../images/Sketch-8.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 375px;
    height: 142px;
    
    display: none;
    
    @media (min-width: 768px) {
      display: block;
    }
  }

  &__stamp {
    position: absolute;
    top: -65px;
    right: 20px;
    background-image: url(../../images/Stamp.png);
    background-size: contain;
    background-repeat: no-repeat;
    width:168px;
    height: 168px;
  }

  &__text {
    display: block;
    text-align: center;
    font-size: 75px;
    color: $whiteGrey;

    @media (min-width: 768px) {
      font-size: 107px;
    }
  }

  &__para {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 650px;
    font-size: 16px;
    color: $whiteGrey;
    padding-top: 110px;
  }

  &__bottomBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__arrowButton {
    border: none;
    border-color: $whiteGrey;
    background-color: transparent;
    cursor: pointer;
    width: 33px;
    height: 33px;
    transition: 0.3s;

    img {
      width: 11px;
      height: 19px;
    }
  }

  &__arrowButton.active {
      border: 1px solid $whiteGrey;
      border-radius: 50%;
      transition: 0.3s;
  } 
}