html {
  font-size: 100%;
  box-sizing: border-box; //includes padding in final box sizes
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Old Standard TT', serif;
  line-height: 1.1;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;


  @media (min-width: 576px) {
    max-width: 546px
  }

  @media (min-width: 768px) {
    max-width: 728px
  }

  @media (min-width: 992px) {
    max-width: 932px
  }

  @media (min-width: 1200px) {
    max-width: 1160px
  }

  @media (min-width: 1400px) {
    max-width: 1300px
  }
}

.fullWidthBorder {
  width: 100%;
  border: 1px solid $darkBlue;
}