.testimonials {
  background-color: $whiteGrey;
  position: relative;

  &__bgsketch1{
    position: absolute;
    top: 160px;
    right: 0px;
    background-image: url(../../images/Sketch-3.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 262px;
    height: 91px;

    display:none;

    @media (min-width: 768px){
      display: block;
    }
  }

  &__stamp {
    position: absolute;
    top: -75px;
    right: 100px;
    background-image: url(../../images/Stamp2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width:168px;
    height: 168px;
  }

  &__title{
    text-align: left;
    color: $darkBlue;
    font-size: 46px;
    @media (min-width: 768px){
      font-size: 75px;
    }

    @media (min-width: 1000px){
      font-size: 107px;
    }

    font-family:'Old Standard TT', serif;
    font-weight: 550;
    padding-top: 110px;
    padding-bottom: 50px;
    margin: 0;
  }

  &__quotesContainer {
    width: 100%;
    height: 330px;
    overflow: hidden;
    margin-bottom: 150px;

    ul {
      width: 300%;
      height: 330px;
      position: relative;

      li {
        list-style: none;
        float: left;
        padding-right: 300px;
      }
    }
  }

  &__quote {
    position: relative;
    color: $darkBlue;
    font-size: 22px;
    max-width: 1000px;
    text-align: justify;

    @media (min-width: 768px) {
      font-size: 33px;
    }
    padding-left:75px;
  }

  &__quoteSource {
    font-family: 'DM Sans', sans-serif;
    font-weight: medium;
    font-size: 18px;

    @media (min-width: 768px) {
      font-size: 26px;
    }
   }

  &__quoteTick {
    position: absolute;
    left: 0px;
    top: -20px;
    background-image: url(../../images/quote.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 36px;
    height: 34px;
  }

  &__arrows {
    background-color: $whiteGrey;
    position: absolute;
    right: 100px;
    bottom: 100px;

    @media (min-width: 768px) {
      right: 150px;
      bottom: 100px;
    }

    @media (min-width: 1000px) {
      right:250px;
      bottom: 100px;
    }

    button {
      border: none;
      color: $darkBlue;
      background-color: transparent;
      cursor: pointer;
    }
  }
}