.thirdSection {
  background-color: $whiteGrey;
  position: relative;

  &__titlebox{
    position: relative;
    display: block;
    text-align: center;
    font-size:86px;
    color: $darkBlue;
    padding-top: 110px;
    padding-bottom: 40px;

    @media (min-width: 768px){
      font-size:107px;
    }
  }
  &__subtitle{
    font-size: 20px;
    position: relative;
    top: 25px;
    right: 115px;

    @media (min-width: 768px){
      font-size:24px;
      top: 30px;
      right: 140px;
    }
  }
  &__container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    @media (min-width: 768px){
      flex-direction: row;
    }
  }
  &__column1{
    margin-top: 55px;
    width: 545px;
  }
  &__column2{
    margin-top: 55px;
    width: 545px;

    @media (min-width: 768px){
      margin-top: 205px;
    }
  }

  &__projectImg1 {
    display:block;
    background-image: url(../../images/project1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 545px;
    height: 396px;
    box-shadow: 0 3000px rgba(16, 87, 139, 0.178) inset;
  }

  &__projectImg2 {
    display:block;
    background-image: url(../../images/project2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 545px;
    height: 396px;
    box-shadow: 0 3000px rgba(16, 87, 139, 0.178) inset;
  }

  &__projectImg3 {
    display:block;
    background-image: url(../../images/project3.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 545px;
    height: 396px;
    box-shadow: 0 3000px rgba(16, 87, 139, 0.178) inset;
  }

  &__projectImg4 {
    display:block;
    background-image: url(../../images/project4.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 545px;
    height: 396px;
    box-shadow: 0 3000px rgba(16, 87, 139, 0.178) inset;
  }
  

  &__projectName{
    color: $darkBlue;
    font-size: 33px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 75px;
    border-bottom: 2px solid $darkBlue;
    margin-bottom: 40px;
  }

  &__bottomBox{
    display: flex;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 70px;
  }

  &__contact{
    display: block;
    position: relative;
    color: $whiteGrey;
    background-color: $darkBlue;
    text-decoration: none;
    font-weight: lighter;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    width: 125px; 
    height: 30px;
    font-size: 15px;
  }

}