.third-section {
  background-color: $whiteGrey;
  position: relative;

  &__titlebox {
    position: relative;
    display: block;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 40px;
    font-size: 66px;
    color: $darkBlue;
    word-wrap: none;

    @media (min-width: 576px) {
      font-size:76px;
    }
    
    @media (min-width: 768px) {
      font-size:106px;
    }
  }


  &__subtitle{
    font-size: 18px;
    position: relative;
    top: 22px;
    right: 85px;
    
    @media (min-width: 576px) {
      top: 25px;
      right: 100px;
    }

    @media (min-width: 768px) {
      font-size:24px;
      top: 30px;
      right: 140px;
    }
  }

  &__container {
    padding-left: 25px;
    padding-right: 25px;
    
    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__column {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 55px;

    @media (min-width: 768px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &--offset {
      @media (min-width: 768px) {
        margin-top: 205px;
      }
    }
  }

  &__projectImg {
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 3000px rgba(16, 87, 139, 0.178) inset;

    &:before {
      content: "";
      display: block;
      padding-bottom: 70%;
    }

    &--1 {
      background-image: url(../../images/project1.png);
    }

    &--2 {
      background-image: url(../../images/project2.png);
    }

    &--3 {
      background-image: url(../../images/project3.png);
    }

    &--4 {
      background-image: url(../../images/project4.png);
    }
  }

  &__projectName {
    color: $darkBlue;
    font-size: 33px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid $darkBlue;
    margin-bottom: 40px;
  }

  &__bottomBox{
    display: flex;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 70px;
  }

  &__seeMore{
    display: block;
    position: relative;
    color: $whiteGrey;
    background-color: $darkBlue;
    border: 2px solid $darkBlue;
    text-decoration: none;
    font-weight: lighter;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    line-height: 26px;
    border-radius: 15px;
    width: 125px; 
    height: 30px;
    font-size: 15px;
  }

  &__seeMore.active {
    color: $darkBlue;
    background-color: $whiteGrey;
    transition: 0.3s;
    cursor: pointer;
  }

}